{% extends "_base.j2" %}

{% block header %}
    <title>TINYSTEPS - Booking</title>
{%endblock%}

{%  block content %}
<div class="row mt-5">
    <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
        <form action="/echo" class="card mb-3">
            <div class="card-body text-center pt-5">
                <img src="{{ teacher.picture }}" class="mb-3" width="95" alt="">
                <h2 class="h5 card-title mt-2 mb-2">{{ teacher.name }}</h2>
                <p class="my-1">Запись на пробный урок</p>
                <p class="my-1">Вторник, 12:00</p>
            </div>
            <hr/>
            <div class="card-body mx-3">
                <label class="mb-1 mt-2" for="clientName">Вас зовут</label>
                <input class="form-control" type="text" id="clientName" placeholder="Имя" required>
                <label class="mb-1 mt-2" for="clientPhone">Ваш телефон</label>
                <input class="form-control" type="tel" id="clientPhone" placeholder="Телефон" required>
                <input type="submit" class="btn btn-primary btn-block mt-4" value="Записаться на пробный урок">
            </div>
        </form>
    </div>
</div>
{% endblock %}