{% extends "_base.j2" %}
{% import "_macros.j2" as macros %}

{% block header %}
    <title>TINYSTEPS - Goal</title>
{%endblock%}

{%  block content %}
  <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>🚜<br/>Преподаватели для<br> {{ title }}</strong></h1>
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 m-auto">
        {% for teacher in teachers %}
            {{ macros.teacher_card(teacher) }}
        {% endfor %}
        </div>
    </div>
{% endblock %}