{% extends "_base.j2" %}
{% import "_macros.j2" as macros %}

{% block header %}
    <title>TINYSTEPS</title>
{%endblock%}


{% block content %}
<section>
    <h1 class="h1 text-center mx-auto mt-4 py-5"><strong>Найдите идеального <br>репетитора английского, <br>занимайтесь
        онлайн</strong></h1>
    <div class="text-center mb-5">
        <div class="btn-group mx-auto mb-0" role="group" aria-label="Basic example">
            {%  for goal in goals.keys() %}
                <a
                        href="{{ url_for('goals', goal=goal) }}"
                        type="button"
                        class="btn btn-outline-secondary {{ 'active' if request.path == url_for('goals', goal=goal) else ''}}"
                >{{ goals[goal] }}</a>
            {% endfor %}
        </div>
    </div>
    <h2 class="h5 text-center mb-5">Свободны прямо сейчас</h2>
    <div class="row">
        {% for teacher in teachers %}
            {{ macros.teacher_card(teacher) }}
        {% endfor %}
    </div>
</section>
{%endblock%}